.student_group_page {
    width: 75%;
    height: calc(100vh - 56px);
    min-height: 500px;
    margin: 0 auto;
    padding: 10px 30px;
    box-shadow: 0 0 4px 2px rgb(187, 184, 184);

    @media screen and (max-width: 912px) {
        width: 100%;
        box-shadow: 0 0 0 rgb(187, 184, 184);
        padding: 10px 20px;
        @media screen and (max-width: 768px) {
            padding: 10px;  
        }
    }

    .student_group_card {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(32.6667%, 1fr));
        column-gap: 1%;

        @media screen and (max-width: 1280px) {
            grid-template-columns: repeat(auto-fill, minmax(49.5%, 1fr));
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            column-gap: 0%;
        }
    }
}
