.student_group_page {
    width: 75%;
    height: calc(100vh - 56px);
    min-height: 500px;
    margin: 0 auto;
    padding: 10px 30px;
    box-shadow: 0 0 4px 2px rgb(187, 184, 184);

    .no_group_message {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        padding: 15px 25px;
        background-color: #f2f2f7f3;
        font-size: 140%;
        text-align: center;
        box-shadow: 0 0 3px rgb(189, 187, 188);
    }
}
