<html>
    <head>
        <link rel="stylesheet" href="part.css">
        <form action="http:www.example.com/subscribe.php" method="post">
            <fieldset>
                <section>
                    <div class="container">
                <legend>Marks Obtained</legend>
                <label>Date:<br />
                <input type="date" name="date" />
                    </div> 
                </section>
                <div class="container">
                    <label>Marks:<br />
                    <input type="number" name="marks" /></label>
                    
                    <input type="submit" value="Submit" />
                </div>
            </fieldset>            
        </form>
    </head>
</html>