.student_marks {
    position: relative;
    width: 75%;
    height: calc(100vh - 57px);
    min-height: 500px;
    margin: 0 auto;
    padding: 10px 30px;
    box-shadow: 0 0 4px rgb(187, 184, 184);

    @media screen and (max-width: 912px) {
        width: 100%;
        box-shadow: 0 0 0 rgb(187, 184, 184);
        padding: 10px 20px;
        @media screen and (max-width: 768px) {
            padding: 10px;
        }
    }

    .course-info {
        background-color: #e1e1e2f3 !important;
    }

    .no_marks_message {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        padding: 15px 25px;
        background-color: #f2f2f7f3;
        font-size: 140%;
        text-align: center;
        box-shadow: 0 0 3px rgb(189, 187, 188);
    }

    .student_marks_container {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(19.2%, 1fr));
        column-gap: 1%;
        row-gap: 2%;

        @media screen and (max-width: 1280px) {
            grid-template-columns: repeat(auto-fill, minmax(24.25%, 1fr));
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(49.5%, 1fr));
        }
    }
}
