$gradient_color_1: rgba(163, 23, 140, 0.897);
$gradient_color_2: rgba(34, 23, 182, 0.897);
$menu_bg: rgba(34, 23, 182, 0.897);

.header {
    position: relative;
    width: 100vw;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 125%;
    color: white;
    background: linear-gradient(160deg, $gradient_color_1, $gradient_color_2);
    box-shadow: 0 3px 5px rgb(117, 117, 117);

    .filter1,
    .filter2 {
        position: absolute;
        height: 50px;
        top: 0;
        z-index: -1;
        filter: blur(1px);
        &.filter1 {
            left: 0;
            width: 250px;
            border-radius: 0 150% 0 0;
            background-color: $gradient_color_2;
            @media screen and (max-width: 768px) {
                width: 140px;
            }
        }
        &.filter2 {
            right: 0;
            width: 280px;
            border-radius: 150% 0 0 0;
            background-color: $gradient_color_1;
        }
    }

    .menu_icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
    }

    .app_name {
        font-weight: bold;
    }
    .name_and_signout {
        display: flex !important;
        flex-direction: row;
        .name {
            margin-right: 30px;
        }
        .signout {
            padding: 0 7px;
            // animate the signout icon on hover
            &:hover {
                cursor: pointer;
                .signout_icon {
                    color: white;
                    animation: 400ms animate ease-in-out;
                    @keyframes animate {
                        0% {
                            transform: rotate(0deg);
                        }
                        33% {
                            transform: rotate(-45deg);
                        }
                        66% {
                            transform: rotate(90deg);
                        }
                        100% {
                            transform: rotate(0deg);
                        }
                    }
                }
            }
            &:active {
                .signout_icon,
                span {
                    color: rgb(192, 34, 166);
                }
            }
            .signout_icon {
                margin-right: 4px;
                color: rgb(192, 34, 166);
            }
        }
    }
    .menu {
        position: fixed;
        top: 50px;
        right: -170px;
        z-index: 20;
        background-color: $menu_bg;
        padding: 15px 15px 15px 20px;
        transition: 250ms;
        &.menu ul {
            padding: 0;
            margin: 0;
        }
        &.menu ul li:first-child {  // username
            margin-bottom: 7px;
        }
        &.menu ul li .user_icon {
            color: rgb(192, 34, 166);
        }
        &.menu ul li span {
            margin-left: 8px;
        }
        &.menu ul li .signout {
            &:hover {
                cursor: pointer;
                .signout_icon {
                    color: white;
                    animation: 400ms animate ease-in-out;
                    @keyframes animate {
                        0% {
                            transform: rotate(0deg);
                        }
                        33% {
                            transform: rotate(-45deg);
                        }
                        66% {
                            transform: rotate(90deg);
                        }
                        100% {
                            transform: rotate(0deg);
                        }
                    }
                }
            }
            &:active {
                .signout_icon,
                span {
                    color: rgb(192, 34, 166);
                }
            }
            .signout_icon {
                color: rgb(192, 34, 166);
            }
        }
    }
    .menu.active {
        right: 0;
    }
}
