.table-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}
th{
    background-color: rgb(117,201,250);

}
td{
    background-color: rgb(205,235,253);

}
.search-marks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
    transition: 0.4s;

}
.table-search{
    margin-left: 18px;
    width: 350px;
    height: 35px;
    border-radius: 6px;
    background-color: #BCC5CE;
    color: black;
    font-size: 18px;
    text-indent: 10px;
    transition: 0.4s;
}
.table-marks{
    height: 30zpx;
    width: 100px;
    background-color: #BCC5CE;
    border-radius: 6px;
    font-size: 20px;
    margin-right: 20px;
}
.label-for-marks{
    font-size: 20px;
    font-family: 'Poppins'
}
.Confirm-button{
    height: 20px;
    width: 100px;
    background-color: #BCC5CE;
    color: black;
    border-radius: 2px;
    transition: 0.4s;
}
.Confirm-button:hover{
    background-color: white;
    color: black;
}
.table-search:hover{
    background-color: white;
    color: black;
}
.table-search:hover{
    background-color: white;
    color: black;
}