@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.marks-page-container {
    width: 75%;
    height: calc(100vh - 56px);
    min-height: 500px;
    margin: 0 auto;
    padding: 10px 30px;
    box-shadow: 0 0 4px 2px rgb(187, 184, 184);
}
@media screen and (max-width: 912px) {
    .marks-page-container {
        width: 100%;
        box-shadow: 0 0 0 rgb(187, 184, 184);
        padding: 10px 20px;
    }
}
@media screen and (max-width: 768px) {
    .marks-page-container {
        padding: 10px;
    }
}

.course-info {
    margin-bottom: 10px;
}

.table-container {
    margin-top: 10px;
}
.main-container {
    padding-bottom: 70px;
    width: 100%;
    min-height: fit-content;
    max-height: calc(100% - 100px);
    overflow-y: auto;
}
table {
    text-align: center;
}
.input-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.table-search {
    width: 120%;
}
.table-search:focus {
    box-shadow: 0 0 5px 1px rgb(163, 23, 140);
    border-color: rgb(226, 223, 223);
}
.table-search:hover {
    background-color: white;
    color: black;
}
.confirm-group,
.confirm-individual {
    height: fit-content;
    background: linear-gradient(140deg, rgb(163, 23, 140), rgba(34, 23, 182, 0.726));
    border-color: rgb(163, 23, 140);
    padding: 5px 25px;
    border-radius: 7px;
    font-size: 103%;
}

.marks {
    /* height: 25px !important; */
    width: 80px;
    margin-right: 5px;
    /* margin-right: -8px; */
    /* background-color: #bcc5ce; */
    /* color: black; */
    /* border-radius: 2px; */
    /* transition: 0.4s; */
}
.marks {
    height: 35px;
}
.marks:focus {
    box-shadow: 0 0 5px 1px rgb(163, 23, 140);
    border-color: rgb(226, 223, 223);
}

.all-students {
    display: flex;
    text-align: right;
    justify-content: end;
}
.individual {
    display: flex;
    align-items: center;
}
.confirm-individual:focus,
.confirm-group:focus {
    border-color: rgb(163, 23, 140);
    box-shadow: 0 0 0 rgb(163, 23, 140);
    /* margin-left: 50px; */
}
.confirm-individual:hover,
.confirm-group:hover {
    background: white;
    border-color: rgb(163, 23, 140);
    color: rgb(163, 23, 140);
}

.table-search:hover {
    background-color: white;
    color: black;
}

th {
    padding: 8px !important;
}
.modal-main-container {
    margin-top: 200px;
}
.modal-title {
    font-family: "Poppins";
    color: rgb(163, 23, 140);
}
.my-modal-body {
    color: rgba(34, 23, 182, 0.726);
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
}
.closeButton {
    background: linear-gradient(120deg, rgb(163, 23, 140), rgba(34, 23, 182, 0.726));
    margin: 15px 10px 10px 10px;
    padding: 7px 25px;
    width: 96%;
    border-radius: 7px;
    border-color: rgb(163, 23, 140);
    font-size: 103%;
    font-weight: 500;
    letter-spacing: 0.05em;
}
.closeButton:hover {
    background: white;
    color: rgb(163, 23, 140);
    border-color: rgb(163, 23, 140);
}
.closeButton:active {
    background-color: rgb(163, 23, 140);
    color: white;
}
.closeButton:focus {
    box-shadow: 0 0 0 black;
}

@media screen and (max-width: 1091px) {
    .table-container {
        width: 100%;
        box-shadow: 0 0 0 rgb(187, 184, 184);
        /* padding: 10px 20px; */
    }
    .input-container {
        /* justify-content: space-between; */
    }
    .table-search {
        width: 100%;
    }
    .confirm-group {
        margin-right: 20px;
    }
}

@media screen and (max-width: 849px) {
    .table-container {
        /* width: 100%;
        box-shadow: 0 0 0 rgb(187, 184, 184); */
        /* padding: 10px 20px; */
    }
    .input-container {
        display: flex;
    }
    .table-search {
    }
    .confirm-individual {
        /* margin-right: 20px; */
    }
    .marks .marks-entry {
        /* margin: 0; */
    }
}
@media screen and (max-width: 618px) {
    .table-container {
        width: 100%;
        box-shadow: 0 0 0 rgb(187, 184, 184);
        /* padding: 10px 20px; */
    }
    .input-container {
        /* display: flex; */
        flex-direction: column;
    }
    .all-students,
    .individual {
        margin-top: 5px;
    }

    .confirm-individual,
    .confirm-group {
        width: 100%;
        margin-right: 0;
    }
}
