$btn_bg_color: rgb(163, 23, 140);

.lecturer_polls {
    position: relative;
    width: 75%;
    height: calc(100vh - 57px);
    min-height: 500px;
    margin: 0 auto;
    padding: 10px 30px;
    box-shadow: 0 0 4px 2px rgb(187, 184, 184);
    @media screen and (max-width: 912px) {
        width: 100%;
        box-shadow: 0 0 0 rgb(187, 184, 184);
        padding: 10px 20px;
        @media screen and (max-width: 768px) {
            padding: 10px;
        }
    }

    .no_polls_message {
        position: absolute;
        top: 46%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        padding: 15px 25px;
        background-color: #f2f2f7f3;
        font-size: 140%;
        text-align: center;
        box-shadow: 0 0 3px rgb(189, 187, 188);
    }

    .loading_toast {
        position: absolute;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(134, 12, 114);
    }

    .create_polls_header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 10px 10px;
        box-shadow: 0 2px 3px -2px rgb(187, 184, 184);

        @media screen and (max-width: 768px) {
            padding: 0 5px 5px 5px;
        }

        div .create_poll_btn {
            background: linear-gradient(140deg, rgb(163, 23, 140), rgba(34, 23, 182, 0.726));
            border-color: rgb(163, 23, 140);
            padding: 5px 25px;
            border-radius: 7px;
            font-size: 103%;
            &:focus {
                border-color: rgb(163, 23, 140);
                box-shadow: 0 0 0 rgb(163, 23, 140);
            }
            &:hover {
                background: white;
                border-color: rgb(163, 23, 140);
                color: rgb(163, 23, 140);
            }
        }
        .total_polls {
            display: flex;
            align-items: center;
            font-size: 105%;
            font-weight: bold;
        }
    }

    .created_polls_container {
        padding: 15px 10px 50px 10px;
        width: 100%;
        min-height: fit-content;
        max-height: calc(100% - 61px);
        // max-height: 99%;
        overflow-y: auto;

        column-count: 2;
        column-gap: 2%;

        @media screen and (max-width: 768px) {
            // column-count: 1;
            // column-gap: 0%;
        }
    }
}

#modal {
    top: 50px !important;
    min-width: 30%;
    min-height: 800px;
    max-height: 80vh !important;
    margin: 0 auto !important;
    max-width: 95vw;
    @media screen and (max-width: 768px) {
        min-width: 95%;
        top: 30px;
    }
    @media screen and (max-width: 912px) {
        min-width: 50%;
    }
    .modal_header {
        color: $btn_bg_color;
    }
    .field {
        padding: 0 10px;

        label {
            font-size: 110%;
            font-weight: bold;
        }

        input {
            margin-top: -3px;
            font-size: 103%;
            &:focus {
                box-shadow: 0 0 5px 1px $btn_bg_color;
                border-color: rgb(226, 223, 223);
            }
        }
    }
    .options_label_and_add_options_btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        .options_label {
            padding: 0 10px;
            font-size: 110%;
            font-weight: bold;
        }
        .add_options_btn {
            margin-right: 10px;
            border-radius: 50%;
            border-color: #a4a3a5;
            background-color: #a4a3a5;
            font-weight: bold;
            &:hover {
                background: white;
                color: gray;
            }
            &:active {
                background-color: gray;
                color: white;
            }
            &:focus {
                box-shadow: 0 0 0 black;
            }
        }
    }

    .options_container {
        height: fit-content;
        max-height: 280px;
        overflow: auto;
        padding: 0 0 8px 0;
        .option {
            position: relative;
            padding: 0 10px;
            margin-top: 7px;
            input {
                padding-right: 38px;
                font-size: 103%;
                &:focus {
                    box-shadow: 0 0 5px 1px $btn_bg_color;
                    border-color: rgb(226, 223, 223);
                }
            }
            .remove_option_btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: rgb(197, 193, 193);
                &:hover {
                    cursor: pointer;
                }
                // padding: 2px;
            }
        }
    }

    .confirm_btn {
        margin: 15px 10px 10px 10px;
        padding: 7px 25px;
        width: 96%;
        border-radius: 7px;
        border-color: $btn_bg_color;
        background: linear-gradient(120deg, rgb(163, 23, 140), rgba(34, 23, 182, 0.726));
        font-size: 103%;
        font-weight: 500;
        letter-spacing: 0.05em;
        &:hover {
            background: white;
            color: $btn_bg_color;
        }
        &:active {
            background-color: $btn_bg_color;
            color: white;
        }
        &:focus {
            box-shadow: 0 0 0 black;
        }
    }
}
