.lecturer_polls {
  position: relative;
  width: 75%;
  height: calc(100vh - 57px);
  min-height: 500px;
  margin: 0 auto;
  padding: 10px 30px;
  box-shadow: 0 0 4px 2px rgb(187, 184, 184);
}
@media screen and (max-width: 912px) {
  .lecturer_polls {
    width: 100%;
    box-shadow: 0 0 0 rgb(187, 184, 184);
    padding: 10px 20px;
  }
}
@media screen and (max-width: 912px) and (max-width: 768px) {
  .lecturer_polls {
    padding: 10px;
  }
}
<<<<<<< HEAD
=======

.lecturer_polls .no_polls_message {
  position: absolute;
  top: 46%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 25px;
  background-color: #f2f2f7f3;
  font-size: 140%;
  text-align: center;
  -webkit-box-shadow: 0 0 3px #bdbbbc;
          box-shadow: 0 0 3px #bdbbbc;
}

<<<<<<< HEAD
>>>>>>> c3cf435dc5cb0764b5cb63a8c75515bbf6f0e5e7
.lecturer_polls .loading_toast {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(134, 12, 114);
=======
@media screen and (max-width: 768px) {
  .lecturer_polls .no_polls_message {
    top: 41%;
    width: 90%;
  }
>>>>>>> 6724be7442f1f853c27d84e8910412616a8fdad1
}
.lecturer_polls .create_polls_header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
<<<<<<< HEAD
  box-shadow: 0 2px 3px -2px rgb(187, 184, 184);
=======
  margin-top: 10px;
  -webkit-box-shadow: 0 2px 3px -2px #bbb8b8;
          box-shadow: 0 2px 3px -2px #bbb8b8;
>>>>>>> 6724be7442f1f853c27d84e8910412616a8fdad1
}
@media screen and (max-width: 768px) {
  .lecturer_polls .create_polls_header {
    padding: 0 5px 5px 5px;
  }
}
.lecturer_polls .create_polls_header div .create_poll_btn {
<<<<<<< HEAD
  background: linear-gradient(140deg, rgb(163, 23, 140), rgba(34, 23, 182, 0.726));
  border-color: rgb(163, 23, 140);
  padding: 7px 25px;
=======
  background: linear-gradient(140deg, #a3178c, rgba(34, 23, 182, 0.726));
  border-color: #a3178c;
<<<<<<< HEAD
  padding: 5px 25px;
>>>>>>> c3cf435dc5cb0764b5cb63a8c75515bbf6f0e5e7
=======
  padding: 7px 25px;
>>>>>>> 6724be7442f1f853c27d84e8910412616a8fdad1
  border-radius: 7px;
  font-size: 103%;
}
.lecturer_polls .create_polls_header div .create_poll_btn:focus {
  border-color: rgb(163, 23, 140);
  box-shadow: 0 0 0 rgb(163, 23, 140);
}
.lecturer_polls .create_polls_header div .create_poll_btn:hover {
  background: white;
  border-color: rgb(163, 23, 140);
  color: rgb(163, 23, 140);
}
.lecturer_polls .create_polls_header .total_polls {
  display: flex;
  align-items: center;
  font-size: 105%;
  font-weight: bold;
}
<<<<<<< HEAD
.lecturer_polls .created_polls_container {
=======

.lecturer_polls .created_polls {
>>>>>>> fe155fd77c5507bc5c1f1cc85144843def3f8d90
  padding: 15px 10px 50px 10px;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: calc(100% - 105px);
  overflow-y: auto;
<<<<<<< HEAD
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 2%;
       column-gap: 2%;
}
=======
}

.lecturer_polls .created_polls .created_polls_container {
  padding-bottom: 30px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2%;
          column-gap: 2%;
}

@media screen and (max-width: 768px) {
  .lecturer_polls .created_polls .created_polls_container {
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 3%;
            column-gap: 3%;
  }
}

>>>>>>> fe155fd77c5507bc5c1f1cc85144843def3f8d90
#modal {
  top: 50px !important;
  min-width: 30%;
  min-height: 800px;
  max-height: 80vh !important;
  margin: 0 auto !important;
  max-width: 95vw;
  z-index: 20 !important;
}
@media screen and (max-width: 768px) {
  #modal {
    min-width: 95%;
    top: 30px;
  }
}
@media screen and (max-width: 912px) {
  #modal {
    min-width: 50%;
  }
}
#modal .modal_header {
  color: rgb(163, 23, 140);
}
#modal .field {
  padding: 0 10px;
}
#modal .field label {
  font-size: 110%;
  font-weight: bold;
}
#modal .field input {
  margin-top: -3px;
  font-size: 103%;
}
#modal .field input:focus {
  box-shadow: 0 0 5px 1px rgb(163, 23, 140);
  border-color: rgb(226, 223, 223);
}
#modal .options_label_and_add_options_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
#modal .options_label_and_add_options_btn .options_label {
  padding: 0 10px;
  font-size: 110%;
  font-weight: bold;
}
#modal .options_label_and_add_options_btn .add_options_btn {
  margin-right: 10px;
  border-radius: 50%;
  border-color: #a4a3a5;
  background-color: #a4a3a5;
  font-weight: bold;
}
#modal .options_label_and_add_options_btn .add_options_btn:hover {
  background: white;
  color: gray;
}
#modal .options_label_and_add_options_btn .add_options_btn:active {
  background-color: gray;
  color: white;
}
#modal .options_label_and_add_options_btn .add_options_btn:focus {
  box-shadow: 0 0 0 black;
}
#modal .options_container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 280px;
  overflow: auto;
  padding: 0 0 8px 0;
}
#modal .options_container .option {
  position: relative;
  padding: 0 10px;
  margin-top: 7px;
}
#modal .options_container .option input {
  padding-right: 38px;
  font-size: 103%;
}
#modal .options_container .option input:focus {
  box-shadow: 0 0 5px 1px rgb(163, 23, 140);
  border-color: rgb(226, 223, 223);
}
#modal .options_container .option .remove_option_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(197, 193, 193);
}
#modal .options_container .option .remove_option_btn:hover {
  cursor: pointer;
}
#modal .confirm_btn {
  margin: 15px 10px 10px 10px;
  padding: 7px 25px;
  width: 96%;
  border-radius: 7px;
  border-color: rgb(163, 23, 140);
  background: linear-gradient(120deg, rgb(163, 23, 140), rgba(34, 23, 182, 0.726));
  font-size: 103%;
  font-weight: 500;
  letter-spacing: 0.05em;
}
#modal .confirm_btn:hover {
  background: white;
  color: rgb(163, 23, 140);
}
#modal .confirm_btn:active {
  background-color: rgb(163, 23, 140);
  color: white;
}
#modal .confirm_btn:focus {
<<<<<<< HEAD
  box-shadow: 0 0 0 black;
}/*# sourceMappingURL=polls.css.map */
=======
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.loading_toast {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #860c72;
}
/*# sourceMappingURL=polls.css.map */
>>>>>>> 6724be7442f1f853c27d84e8910412616a8fdad1
