.poll_instance {
  -webkit-box-shadow: 0px 0px 4px 1px #bbb8b8;
          box-shadow: 0px 0px 4px 1px #bbb8b8;
  margin-bottom: 15px;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.poll_instance .title_and_delete_container {
  position: relative;
  padding: 5px 46px 5px 15px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #a3178c;
  font-weight: bold;
  background-color: #e1e1e2f3;
}

.poll_instance .title_and_delete_container .title {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: none;
}

.poll_instance .title_and_delete_container .delete_icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  font-size: 95%;
  color: #660d0d;
}

.poll_instance .title_and_delete_container .delete_icon:hover {
  cursor: pointer;
}

.poll_instance .options {
  padding: 8px 10px;
}

.poll_instance .options .option_and_percent_votes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  padding: 0 5px;
}

.poll_instance .options .option_and_percent_votes .option {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: nowrap;
}

.poll_instance .options .progressbar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #e0dede;
  margin-bottom: 3px;
}

.poll_instance .options .progressbar .progressbar_fill {
  -webkit-transition: 300ms width ease-in-out;
  transition: 300ms width ease-in-out;
  width: 0%;
  height: 10px;
  background-color: #5e57c0;
}

.poll_instance .totalVotesCast {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #a3178c;
  padding: 5px 10px;
  border-radius: 0 0 10px 10px;
}

#modal #confirm_text {
  padding: 0 10px;
  font-weight: bold;
  font-size: 110%;
}

#modal #modal_footer {
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
}

#modal #modal_footer #confirm_btn_d,
#modal #modal_footer #cancel_btn_d {
  padding: 7px 25px;
  border-radius: 7px;
  font-size: 103%;
  font-weight: 500;
  letter-spacing: 0.05em;
  border-color: #a3178c;
  width: 46%;
}

#modal #modal_footer #confirm_btn_d:active,
#modal #modal_footer #cancel_btn_d:active {
  background-color: white;
}

#modal #modal_footer #confirm_btn_d:focus,
#modal #modal_footer #cancel_btn_d:focus {
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

#modal #modal_footer #confirm_btn_d#confirm_btn_d,
#modal #modal_footer #cancel_btn_d#confirm_btn_d {
  background-color: rgba(182, 8, 8, 0.884);
}

#modal #modal_footer #confirm_btn_d#confirm_btn_d:hover,
#modal #modal_footer #cancel_btn_d#confirm_btn_d:hover {
  background: #b60808;
}

#modal #modal_footer #confirm_btn_d#cancel_btn_d,
#modal #modal_footer #cancel_btn_d#cancel_btn_d {
  background-color: white;
  color: #a3178c;
}
/*# sourceMappingURL=poll_instance.css.map */