body {
margin: 0;
padding: 0;
outline: 0;    
}
    .filter{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 7;
    }
body{
    background: rgb(76, 157, 233);
    background: -moz-linear-gradient(90deg, rgb(76, 175, 233) 0%, rgba(199,74,233,1) 100%);
    background: -webkit-linear-gradient(90deg,rgba(233,76,161,1) 0%, rgba(rgba(199,74,233,1) 100%));
    background: linear-gradient(90deg, rgb(76, 175, 233) 0%, rgba(199,74,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1",endColorstr="#c74ae9",GradientType=1);
}

table{
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 50%;
    transform: translate(50%,-50%);
    width: 45%;
    height: 400px;
    background: #fafafa;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 30px 10px 3110px 100, rgba(0,0,0,.15);
    font-size: 20;
    letter-spacing: 1px;
    
    
}
table tr th{
    color: rgb(76, 175, 233);
}

table tr td{
    color: rgba(233,76,161,1);
}
form{
    font-size: 20px;
    font-style: inherit;
    color: rgb(255, 254, 254);
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif ;
    position: absolute;
    z-index: 2;
    left: 40%;
    top: 10%;   
}