.accendance-record {
    .strikes-and-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            margin-right: 8px;
            width: fit-content;
        }
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background-color: rgba(34, 23, 182, 0.726);
            color: white;
            font-weight: bold;
            &:hover {
                cursor: pointer;
                background-color: white;
                color: rgba(34, 23, 182, 0.726);
                border: 1px solid rgba(34, 23, 182, 0.726);
            }
            &:active {
                background-color: rgba(34, 23, 182, 0.726);
                color: white;
            }
        }
    }
}
