.container{
    max-width: 100%;
    
}
.button{
    position: absolute;
    right: 3px;
    padding: 5px;
}
.popup{
    width: 400px;
    background: lightcyan;
    border-radius: 6px;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}