.container{
    max-width: 100%;
    
}
.button input{
    position: absolute;
    right: 3px;
    padding: 5px;
}
.popup{
    min-width: 400px;
    min-height: 250px;
    background: lightcyan;
    border-radius: 6px;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup input{
    margin: 8px auto;
    min-width: 250px;
    padding: 6px;
}
.option input{
    min-width: 10px;
}
.popup label{
    font-size: large;
}
.add_option{
    min-width: 400px;
    min-height: 250px;
    background: lightcyan;
    border-radius: 6px;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
}
