@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.random-groups-container{
    margin-top: 30px;
    
}
.heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    margin-right: 10px;
}
.input-field{
    margin-right: 10px;
    width: 150px;
}

.random-groups{
    padding: 10px;
    justify-content: center;
    text-align: left;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    column-gap: 60px;
    row-gap: 10px;
}



.cards-container{
    width: 300px;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}
li{
    list-style-type: decimal;
}
.cards-title{
    font-weight: bolder;
    text-align: left;
}

@media screen and (max-width: 912px) {
    .random-groups-container{
    width: 100%;
    box-shadow: 0 0 0 rgb(187, 184, 184);
    padding: 10px 20px;
    }
}


@media screen and (max-width: 768px) {
    .random-groups{
      padding: 15px 5px 70px 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }
  @media screen and (max-width: 433px) {
    .random-groups{
      padding: 15px 5px 70px 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .heading-container{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .input-field, .submit-button{
        margin-top: 8px;
    }


  }


