body{
    display :flex;
    justify-content:center;
     align-items: center;
    width:100%;
   
  
    
  }
  *{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  
  }
  .container{
    width:200px;
    position:relative;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
  }
  