.login_page {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_page .toast {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 20px;
  left: 50%;
  z-index: 1051;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
  font-size: 110%;
  color: white;
  padding: 5px 30px;
  text-align: center;
}

.login_page .bg_img {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  z-index: -10;
}

.login_page .bg_img_shade {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.336);
  z-index: -9;
}

.login_page .login_form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(8, 8, 8, 0.822);
  padding: 25px 20px;
  border-radius: 7px;
  margin: 0 20px;
  -webkit-box-shadow: 0 0 8px rgba(223, 62, 210, 0.664);
          box-shadow: 0 0 8px rgba(223, 62, 210, 0.664);
}

@media screen and (max-width: 768px) {
  .login_page .login_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.login_page .login_form .app_name {
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 200%;
  color: white;
  text-align: center;
  text-shadow: 0 0 4px rgba(223, 62, 210, 0.664);
}

.login_page .login_form .welcome_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 150%;
  font-weight: 500;
  color: white;
  padding: 5px 20px 5px 10px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .login_page .login_form .welcome_text {
    text-align: center;
  }
}

@media screen and (min-width: 770px) {
  .login_page .login_form .welcome_text {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: white;
  }
}

@media screen and (max-width: 768px) {
  .login_page .login_form .welcome_text {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.login_page .login_form .login_btns .lecturer_login_btn,
.login_page .login_form .login_btns .student_login_btn {
  width: 100%;
  border-radius: 7px;
  padding: 10px 25px;
  font-size: 110%;
  font-weight: 500;
  letter-spacing: 0.05em;
  background: linear-gradient(145deg, #a3178c, rgba(34, 23, 182, 0.726));
  border-color: #a3178c;
  -webkit-transition: 300ms background-color;
  transition: 300ms background-color;
}

.login_page .login_form .login_btns .lecturer_login_btn:hover,
.login_page .login_form .login_btns .student_login_btn:hover {
  background: white;
  color: #a3178c;
}

.login_page .login_form .login_btns .lecturer_login_btn:focus,
.login_page .login_form .login_btns .student_login_btn:focus {
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}

.login_page .login_form .login_btns .student_login_btn {
  margin-top: 15px;
}

.login_modal {
  position: fixed;
  top: 22%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 95vw;
}

.login_modal .modal_header {
  position: relative;
  font-weight: bold;
  font-size: 125%;
  padding-left: 10px;
  margin-bottom: 20px;
}

.login_modal .modal_header .close_btn {
  position: absolute;
  top: 55%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background-color: white;
  border-color: #a3178c;
  border-width: 2px;
  color: #a3178c;
  font-weight: bolder;
}

.login_modal .modal_header .close_btn:hover {
  background-color: #a3178c;
  color: white;
}

.login_modal .modal_header .close_btn:active {
  background-color: white;
  color: #a3178c;
}

.login_modal .field {
  padding: 0 10px;
}

.login_modal .field label {
  font-size: 110%;
  font-weight: bold;
}

.login_modal .field #username,
.login_modal .field #password {
  margin-top: -3px;
  font-size: 103%;
}

.login_modal .field #username:focus,
.login_modal .field #password:focus {
  -webkit-box-shadow: 0 0 5px 1px #a3178c;
          box-shadow: 0 0 5px 1px #a3178c;
  border-color: #e2dfdf;
}

.login_modal .login_btn {
  margin: 15px 10px 10px 10px;
  padding: 10px 25px;
  width: 96%;
  border-radius: 7px;
  border-color: #a3178c;
  background: linear-gradient(120deg, #a3178c, rgba(34, 23, 182, 0.726));
  font-size: 103%;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.login_modal .login_btn:hover {
  background: white;
  color: #a3178c;
}

.login_modal .login_btn:active {
  background-color: #a3178c;
  color: white;
}

.login_modal .login_btn:focus {
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
}
/*# sourceMappingURL=login.css.map */