@font-face {
    font-family: "noto sans";
    src: url("./fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "notes";
    src: url("./fonts/notes.otf");
}

* {
    font-family: 'noto sans'!important;
}